@media screen and (max-width: 767px) {
    /* body {
        background-color: rgb(255, 5, 5);
    } */
    .firstCharacter,
    .secondCharacter {
        margin-top: 480%;
        width: 88.6875px;
        height: 93.75px;
    }
    .bg {
        height: 600px;
    }
    .secondCharacter {
        margin-left: 30%;
    }
    .right_buttons>span,
    .left_buttons>span {
        font-size: 13px;
        /* margin-left: 8%; */
    }
    .left_buttons>button,
    .right_buttons>button {
        width: 100%;
        font-size: 13px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    /* body {
        background-color: rgb(141, 27, 132);
    } */
    .firstCharacter,
    .secondCharacter {
        margin-top: 180%;
        width: 177.375px;
        height: 187.5px;
    }
    .bg {
        height: 600px;
    }
    .secondCharacter {
        margin-left: 30%;
    }
    .right_buttons {
        margin-left: 8%;
    }
    .right_buttons>button {
        width: 90%;
        font-size: 18px;
    }
    .left_buttons>button {
        font-size: 18px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    /* body {
        background-color: rgb(3, 94, 33);
    } */
    .firstCharacter,
    .secondCharacter {
        margin-top: 100%;
        width: 239.45625px;
        height: 253.125px;
    }
    .bg {
        height: 600px;
    }
    .secondCharacter {
        margin-left: 70%;
    }
    .right_buttons {
        margin-left: 18%;
    }
    .right_buttons>button {
        width: 90%;
        font-size: 18px;
    }
    .left_buttons>button {
        font-size: 18px;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
    /* body {
        background-color: rgb(255, 242, 58);
    } */
    .firstCharacter,
    .secondCharacter {
        margin-top: 50%;
        width: 354.75px;
        height: 375px;
    }
    .bg {
        height: 600px;
    }
    .secondCharacter {
        margin-left: 60%;
    }
    .right_buttons {
        margin-left: 13%;
    }
    .right_buttons>button {
        width: 90%;
        font-size: 18px;
    }
    .left_buttons>button {
        font-size: 18px;
    }
}

@media screen and (min-width: 1400px) {
    /* body {
        background-color: rgb(4, 83, 187);
    } */
    .firstCharacter,
    .secondCharacter {
        margin-top: 58px;
    }
    .bg {
        height: 600px;
    }
    .secondCharacter {
        margin-left: 50%;
    }
    .right_buttons {
        margin-left: 6%;
    }
}